@import "../styles/Settings.scss";

.graph-data {
  background-color: $darkest-purple;
  position: relative;
  padding-top: $padding-3;
  padding-bottom: $padding-section;
  z-index: 1;

  .background-pattern {
    background-image: url('../images/pattern.png');
    background-size: contain;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .bg-part-1 {
      position: absolute;
      right: 0;
      transform: translateX(40%);
      top: 4vh;
      z-index: -1;
    }
    .bg-part-2 {
      position: absolute;
      right: 4vw;
      top: 100vh;
      z-index: -1;
    }
    .bg-part-3 {
      position: absolute;
      left: 0;
      transform: translateX(-30%);
      top: 80vh;
      z-index: -1;
    }
  }
  .graphs {
    .graph-block {
      margin-top: $margin-5;

      &:nth-child(even) {
        margin-left: $margin-2;
      }
    }
  }
  .block {
    margin-top: $margin-6;
  }
}

@media (max-width: 768px) {
  .graph-data {
    padding-bottom: calc(#{$padding-3} * 1.3);
    .graphs {
      .graph-block {
        margin-top: 50px;
        width: 100%;
  
        &:nth-child(even) {
          margin-left: 0;
        }
      }
    }
  }
}