@import "../styles/Settings.scss";

.info-icon {
	position: absolute;
	top: -6px;
	right: calc(-#{$margin-2} - 9px);
	cursor: pointer;
	padding: 6px;

	&::after {
		content: attr(data-text);
		white-space: normal;
		max-width: 150px;
		padding: $padding-0;
		position: absolute;
		top: 100%;
		left: 100%;
		min-width: 120px;
		width: auto;
		width: max-content;
		z-index: 3;

		font-weight: 300;
		font-size: 14px;
		line-height: 16px;
		color: $color-graphics-navigation;
		border: $border-1;
		background-color: $background-primary;

		opacity: 0;
		pointer-events: none;
		transition: $ease-quick-d;
	}

	&:hover,
	&.mobile-touch {
		&::after {
			opacity: 1;
			pointer-events: all;
		}
	}
}

.info-icon.latestTransaction {
	position: relative;
	top: 11px;
	right: 0px;
	cursor: pointer;
	padding: 6px;
}

.info-icon.graphBlockIcon {
	position: relative;
	top: -3px;
	right: 10px;
	cursor: pointer;
	padding: 6px;
}

@media (max-width: 768px) {
	.info-icon {
		&::after {
			left: -40px;
		}
	}
}
